.board {
  background-color: #f4f7fd;
  display: flex;
  overflow-x: scroll;
  gap: 24px;
  padding: 24px 16px;
  padding-top: 88px;
}

.dark .board {
  background: #20212c;
}

.open-sidebar {
  margin-left: 261px;
}

.board-empty {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.board-empty-text {
  text-align: center;
  color: #828fa3;
  margin-bottom: 25px;
}

.create-btn,
.add-column-btn {
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: #635fc7;
  border-radius: 24px;
  padding: 15px 18px;
  margin-top: 24px;
}

.create-btn:hover,
.add-column-btn:hover {
  background-color: #a8a4ff;
}

.add-column-btn {
  margin: 0;
}

.dark .add-column-btn {
  background-color: white;
  color: #635fc7;
}

@media only screen and (min-width: 768px) {
  .board {
    padding: 24px;
    padding-top: 104px;
  }
}
