.modal {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
  overflow-y: scroll;
  max-height: 90%;
  width: 343px;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.dark .modal {
  background: #2b2c37;
}

.modal button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.btn-light {
  color: #635fc7;
  background: rgba(99, 95, 199, 0.1);
}

.modal h3 {
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #828fa3;
}

.dark label {
  color: white;
}

.modal-column {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal-column img {
  cursor: pointer;
}

.modal input,
textarea {
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
}

textarea {
  height: 135px;
  margin-bottom: 24px;
}

#board-name-input,
#task-name-input {
  margin-bottom: 24px;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.25;
}

.dark input::placeholder,
textarea::placeholder {
  color: white;
}


.input-container {
  width: 100%;
  position: relative;
}

.cant-be-empty-span {
  position: absolute;
  color: #ea5555;
  top: 8px;
  right: 16px;
  width: fit-content;
  white-space: nowrap;
}

.red-border {
  border-color: #ea5555 !important;
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 32px;
    width: 480px;
  }
}

