.header-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

header {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: white;
  position: relative;
}

.dark header {
  background: #2b2c37;
}

header .elipsis-menu {
  top: 90%;
  right: 2%;
  width: 150px;
}

.header-name-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
  margin-left: 16px;
}

.header-name-container img {
  cursor: pointer;
}
.add-task-btn {
  margin-right: 16px;
  background: #635fc7;
  color: white;
  border-radius: 24px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task-btn:hover {
  background: #A8A4FF;
}

.btn-off {
  opacity: 25%;
  cursor: initial;
}

.elipsis {
  height: 16px;
  cursor: pointer;
}

/* dropdown modal */
.dropdown-container {
  position: absolute;
  top: 64px;
  bottom: -100vh;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px 55px;
}

.dropdown-modal {
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
  padding: 16px 0;
  color: #828fa3;
}

.dark .dropdown-modal {
  background: #2b2c37;
}

.dropdown-modal h3 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  margin: 0 0 24px 19px;
}

.dropdown-board {
  padding: 15px 24px;
  font-weight: 700;
  font-size: 15px;
  margin-right: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-board:hover {
  background: rgba(99, 95, 199, 0.1);
  color: #635fc7;
  border-radius: 0px 100px 100px 0px;
}

.dark .dropdown-board:hover {
background: white;
color: #635fc7;
}

.board-active {
  background-color: #635fc7;
  border-radius: 0px 100px 100px 0px;
  color: white;
}

.dropdown-board img {
  margin-right: 12px;
}

.dropdown-create-board-btn {
  color: #635fc7;
  fill: #635fc7;
}

.filter-purple {
  filter: invert(39%) sepia(47%) saturate(748%) hue-rotate(203deg)
    brightness(94%) contrast(93%);
}

.filter-white {
  filter: invert(100%) sepia(96%) saturate(16%) hue-rotate(350deg)
    brightness(104%) contrast(100%);
}

.theme-toggle {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 16px 16px 0 16px;
  background: #f4f7fd;
  border-radius: 6px;
}

.dark .theme-toggle {
  background: #20212c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #635fc7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  background: #A8A4FF;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    width: calc(261px - 16px);
    padding-left: 10px;
  }

  .logo-text {
    font-weight: bold;
    font-size: 32px;
  }

  .header-name-container {
    margin-left: 24px;
  }

  .dropdown-container {
    position: initial;
    padding: 0;
    height: 90%;
    background-color: white;
  }

  .dark .dropdown-container {
    background: #2b2c37;
  }

  .dropdown-modal {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }

  .theme-toggle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }

  .add-task-btn {
    width: 164px;
    height: 48px;
    margin-right: 24px;
  }

  .elipsis {
    height: 20px;
    width: 5px;
  }
}
