body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #000112;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button,
input {
  cursor: pointer;
}

.none {
  display: none;
}

.dimmed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
