body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #000112;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button,
input {
  cursor: pointer;
}