.sidebar {
  min-width: 261px;
  background-color: white;
  padding-top: calc(54px - 16px);
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
}

.dark .sidebar {
  background: #2b2c37;
}

.sidebar-infront {
  z-index: 5;
}

.toggle-sidebar-container {
  display: flex;
  margin: 16px 0 0 24px;
  gap: 10px;
  color: #828fa3;
  cursor: pointer;
}

.sidebar-closed {
  background: #635FC7;
  width: 56px;
  height: 48px;
  border-radius: 0px 100px 100px 0px;
  bottom: 32px;
  top: auto;
  padding: 0;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-closed {
  margin: 0;
}

