.sidebar {
  min-width: 261px;
  background-color: white;
  padding-top: calc(54px - 16px);
  position: fixed;
  top: 72px;
  bottom: 0;
}

.toggle-sidebar-container {
  display: flex;
  margin: 16px 0 0 24px;
  gap: 10px;
  color: #828fa3;
  cursor: pointer;
}

.sidebar-closed {
  position: absolute;
}
