.task-modal,
.delete-modal {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
  max-height: 90%;
  width: 343px;
}

.dark .task-modal {
  background: #2b2c37;
}

.delete-modal h3 {
  color: #ea5555;
}

.delete-modal p {
  color: #828fa3;
  margin: 24px 0;
}

.dark .delete-modal {
  background: #2b2c37;
}

.btn {
  width: 100%;
  border-radius: 20px;
  padding: 8px;
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
}

.delete-btn {
  background-color: #ea5555;
  color: white;
  margin-bottom: 16px;
}

.delete-btn:hover {
  background: #ff9898;
}

.cancel-btn {
  background-color: rgba(99, 95, 199, 0.1);
  color: #635fc7;
}

.cancel-btn:hover {
  background: rgba(99, 95, 199, 0.25);
}

.dark .cancel-btn {
  background-color: white;
}

.task-modal-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.elipsis-menu {
  position: absolute;
  right: -10%;
  top: 150%;
  padding: 16px;
  width: 40%;
  background-color: white;
  color: #828fa3;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
}

.dark .elipsis-menu {
  background: #20212c;
}

.elipsis-menu p {
  cursor: pointer;
}

.elipsis-menu-red {
  color: #ea5555;
  margin-top: 16px;
}

.task-modal-elipsis {
  cursor: pointer;
}

.task-description {
  color: #828fa3;
  margin-bottom: 24px;
}

.subtasks-completed {
  color: #828fa3;
  margin-bottom: 16px;
}

.subtask {
  background: #f4f7fd;
  border-radius: 4px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 13px 12px;
}

.dark .subtask {
  background: #20212c;
}

.subtask:hover {
  background: rgba(99, 95, 199, 0.25);
}

.subtask-checkbox {
  min-width: 16px;
  min-height: 16px;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.select-column-container {
  margin-top: 24px;
}

.select-status {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #828fa340;
  border-radius: 4px;
  appearance: none;
  background-image: url("../assets/icon-chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}

.status-options {
  color: #828fa3;
}

.dark .status-options {
  background: #20212c;
}

@media only screen and (min-width: 768px) {
  .task-modal, .delete-modal{
    padding: 32px;
    width: 480px;
  }

  .delete-modal-btns {
    display: flex;
    gap: 16px;
  }
}
